<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
    <title>test:d3</title>
  </head>
  <body>
    <div id="container">      
      <header class="page-header">
        <h1>
          <%= @title %>
        </h1>
      </header>
      
      <div id="content">
        <ul>
          <li>プレイヤー</li>
          <ul>
            <li><%= @player1 %></li>
            <li><%= @player2 %></li>
            <li><%= @player3 %></li>
          </ul>
        </ul>
      </div>
  
      <footer class="page-footer">
      </footer>
      
    </div>
  
  </body>
</html>